.forgot-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0B5ED7,#0A2540);

    padding:30px;

}

.forgot-links{

    margin-top:25px;

    text-align:center;

}

.forgot-links a{

    color:var(--primary);

    font-weight:600;

}