.home{
    max-width:1200px;
    margin:auto;
    padding:60px 20px;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    min-height:70vh;
}

.hero h1{
    font-size:56px;
    color:var(--primary);
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    color:var(--text-light);
    font-size:20px;
    line-height:1.7;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}