.business-card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:var(--shadow);

    transition:.3s;

}

.business-card:hover{

    transform:translateY(-8px);

}

.business-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.business-content{

    padding:20px;

}

.business-content h3{

    margin-bottom:10px;

}

.business-content p{

    color:var(--gray);

    margin-bottom:10px;

}

.business-footer{

    display:flex;

    justify-content:space-between;

    margin:20px 0;

}

.verified{

    color:green;

    font-weight:600;

}