.password-input{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    border-radius:12px;

    padding:0 15px;

    background:white;

    margin-bottom:20px;

}

.password-input input{

    flex:1;

    padding:15px 0;

    border:none;

    background:transparent;

}

.password-input button{

    background:none;

    border:none;

    color:var(--gray);

    cursor:pointer;

    font-size:18px;

}